* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFF;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Base nav styles */
.nav {
    max-width: 1920px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

/* Style when navbar is scrolled */
.nav.scrolled {
    position: fixed;
    background: #081c15cf;
    /* Glass effect background */
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ffff;
}

.nav-logo {
    width: 80px;
}

.nav-logo img {
    width: 100%;
    padding: 0 10px;
    object-fit: contain;
}

.nav-links {
    display: flex;
    gap: 30px;

}



.nav-link a,
.nav-link-home a {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.nav-link-home::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.nav-link,
.nav-link-home {
    list-style: none;
    position: relative;
}

.nav-link a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-link a:hover::before {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}


.nav-link a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.nav-c-changes.scrolled a {
    color: #FFFFFF;
}

.taltbtn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #1A7ABD, #00B8F0);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 10px;
}

/* Hamburger menu (hidden by default) */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Dropdown base */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60%;
    min-width: 250px;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 20;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu li {
    list-style: none;
    padding-left: 20px;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #fff;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        z-index: 10;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: max-height 0.5s ease, padding 0.3s ease;
        text-align: left;
    }

    .nav-links.show {
        max-height: 600px;
        padding: 20px 0;
    }

    .nav-link a {
        color: #000;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    .taltbtn {
        display: none;
    }

    .dropdown {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .dropdown a {
        margin: 0;
        /* padding: 10px 0; */
        text-align: center;
        display: block;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        margin: 0;
        padding: 0;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        transition: max-height 0.4s ease, opacity 0.3s ease;
        width: 100%;
    }

    .dropdown-menu li {
        margin: 0;
        /* padding: 10px 0; */
        width: 100%;
        text-align: center;
    }

    .dropdown.open .dropdown-menu {
        opacity: 1;
        max-height: 500px;
        pointer-events: auto;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
    }
}




/* =========================
   Base Hero Section Styling
   ========================= */
.hero-section {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.hero-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.hero-text-coloum {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.hero-heading {
    font-size: 2.5rem;
    line-height: 1.3;
}

.highlight {
    color: #F23608;
}

.hero-subheading {
    font-size: 2rem;
}

.hero-right-coloum {
    flex: 1;
    background-color: #2196FE;
    height: 90vh;
    border-bottom-left-radius: 25%;
    position: relative;
    min-width: 300px;
}

.middle-image {
    width: 70%;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sub-image {
    width: 130px;
    position: absolute;
}

.sub-image img {
    width: 100%;
    object-fit: contain;
    opacity: 0;
    transform: translateY(20px);
    animation: floatIn 1s ease-out forwards;
}

.sub-image-1 {
    top: 12%;
    left: 10%;
    animation-delay: 0.3s;
}

.sub-image-2 {
    width: 140px;
    top: 15%;
    right: 5%;
    animation-delay: 0.6s;
}

.sub-image-3 {
    bottom: 25%;
    left: 8%;
    animation-delay: 0.9s;
}

.sub-image-4 {
    bottom: 20%;
    right: 5%;
    animation-delay: 1.2s;
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes subtleFloat {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(10px);
    }
}

.sub-image {
    animation: floatIn 0.1s ease-out forwards, subtleFloat 4s ease-in-out infinite;
}



/* =========================
   Responsive Design
   ========================= */
@media (max-width: 1024px) {
    .hero-content-wrapper {
        flex-direction: column;
        padding: 40px 20px;
        gap: 40px;
    }

    .hero-section {
        height: auto;
    }

    .hero-text-coloum {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .hero-right-coloum {
        width: 100%;
        height: auto;
        border-radius: 0;
        padding-bottom: 60px;
        border-radius: 25px;
    }

    .middle-image {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 0 auto;
        width: 80%;
        max-width: 300px;
        padding-top: 50px;
    }

    .hero-heading {
        font-size: 2rem;
    }

    .hero-subheading {
        font-size: 1.4rem;
    }

    .getbtn {
        display: inline-block;
        padding: 10px 24px;
        font-size: 14px;
        background-color: #F23608;
        color: white;
        border-radius: 5px;
        margin-top: 20px;
        text-align: center;
        border: none;
    }
}

@media (max-width: 600px) {

    .sub-image {
        width: 100px;

    }

    .hero-heading {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    .hero-subheading {
        font-size: 1.2rem;
    }

    .middle-image {
        max-width: 260px;
    }

    .getbtn {
        padding: 8px 18px;
        font-size: 14px;
    }
}




.about-section {
    max-width: 1930px;
    min-width: 1240px;
    height: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 200px; */
    margin: 0 auto;
    margin-bottom: 60px;
}

.about-left {
    width: 40%;
    height: auto;
    display: flex;
    position: relative;
    /* margin-left: 50px; */
    padding-bottom: 200px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.about-left .about-tag {
    width: 250px;
    animation: float 1.5s ease-in-out infinite;
}


.about-left .about-tag img {
    width: 100%;
}

.about-image {
    position: absolute;
    object-fit: cover;
    width: 450px;
    left: 10%;
    top: 20%;
}

.about-left img {
    width: 100%;
    object-fit: cover;
}

.about-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    text-align: justify;
    margin-top: 20px;
}

.about-heading {
    font-size: 2.2rem;
}

.about-subheading {
    font-style: italic;
    margin: 10px 0;
    font-size: 1.8rem;
}

.description {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #000000;
    text-align: justify;
}


/* =================== Responsive Design ===================== */

@media (max-width: 1024px) {
    .about-section {
        flex-direction: column;
        padding: 40px 20px;
        gap: 40px;
        min-width: auto;
    }

    .about-left {
        width: 100%;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-left .about-tag {
        width: 180px;
        margin-bottom: 200px;
    }

    .about-image {
        position: relative;
        width: 350px;
        top: auto;
        left: auto;
        margin-top: 20px;
    }

    .about-right {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .about-heading {
        font-size: 2rem;
    }

    .about-subheading {
        font-size: 1.4rem;
    }

    .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .about-left .about-tag {
        width: 140px;
        padding-left: 0;
        margin-right: 0;
    }

    .about-image {
        width: 320px;
    }

    .about-heading {
        font-size: 1.6rem;
    }

    .about-subheading {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    }

    .taltbtn {
        font-size: 14px;
        padding: 10px 20px;
    }
}


.why-choose-section {
    max-width: 1930px;
    min-width: 1240px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #F3F9FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.why-choose-section h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.why-container {
    display: flex;
}

.why-content {
    width: 60%;
}

.why-content p {
    padding: 50px 50px 0;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: justify;
}

.why-image-right {
    background-color: #0D2C54;
    width: 40%;
    height: 450px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
    /* padding: 20px 40px; */
}

.why-main-img {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    margin-top: 10px;
}

.why-main-img img {
    width: 100%;
}

.why-img-1 {
    position: absolute;
    width: 120px;
    top: 10%;
    right: 10%;
}

.why-img-3 {
    position: absolute;
    width: 120px;
    top: 10%;
    left: 15%;
}


.why-img-2 {
    position: absolute;
    width: 120px;
    bottom: 10%;
    left: 15%;
}

/* Keyframes for float animation */
@keyframes float {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

/* Add this animation to the images */
.why-img-1,
.why-img-2,
.why-img-3 {
    animation: float 3s ease-in-out infinite;
}


.why-slider-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 40px 80px;
    background: #F3F9FF;
}

.why-card-slider {
    overflow: hidden;
}

.why-card-track {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.why-card {
    flex: 0 0 45%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 2px solid #1A7ABD;
    border-radius: 10px;
    margin: 0 10px;
    background: #F5F9FF;
    display: flex;
    /* gap: 10px; */
    align-items: center;
    margin: 0 25px;
}

.why-card img {
    width: 100px;
}

.why-card-content h2 {
    font-size: 1rem;
    /* padding-bottom: 5px; */
}

.why-card-content p {
    font-size: 0.8rem;
    text-align: justify;
    padding-right: 30px;
}

/* Buttons */
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1A7ABD;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
}

.slide-btn.prev {
    left: 10px;
}

.slide-btn.next {
    right: 10px;
}

/* Dots */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dots-container .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dots-container .dot.active {
    background-color: #1A7ABD;
    width: 10px;
    height: 10px;
}







/* Responsive for tablets and below */
@media screen and (max-width: 1024px) {
    .why-choose-section {
        padding: 20px;
        min-width: unset;
        flex-direction: column;
    }

    .why-container {
        flex-direction: column;
    }

    .why-content,
    .why-image-right {
        width: 100%;
    }

    .why-content p {
        padding: 20px;
        font-size: 1.2rem;
    }

    .why-image-right {
        height: 350px;
        border-radius: 15%;
    }

    .why-main-img {
        width: 220px;
    }

    .why-img-1,
    .why-img-2,
    .why-img-3 {
        width: 70px;
    }

    .why-card-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .why-card {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .why-card img {
        width: 80px;
    }

    .why-card h2 {
        font-size: 1.1rem;
    }

    .why-card p {
        font-size: 0.9rem;
        padding-right: 0;
        padding: 10px;
    }
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
    .why-choose-section h1 {
        font-size: 1.6rem;
    }

    .why-content p {
        font-size: 1rem;
        padding: 10px;
    }

    .why-image-right {
        height: 250px;
    }

    .why-main-img {
        width: 160px;
    }

    .why-img-1,
    .why-img-2,
    .why-img-3 {
        width: 50px;
    }

    .why-card h2 {
        font-size: 1rem;
    }

    .why-card p {
        font-size: 0.75rem;
    }
}


.export-section {
    max-width: 1930px;
    min-width: 1240px;
    height: auto;
    margin: 0 auto;
    display: flex;
}


.export-left {
    width: 30%;
    background-color: #043F2E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.exp {
    transform: rotate(-90deg);
    color: #FFFFFF;
    font-size: 5rem;
    letter-spacing: 40px;
}

.exp h5 {
    font-size: 3rem;
    letter-spacing: 20px;
}

.export-right {
    padding: 20px 40px;
}

.export-right h1 {
    font-size: 3rem;

}

.export-main-heading {
    font-family: "Cormorant SC";
}

.cards-container {
    /* max-width: 1200px; */
    margin: 20px auto 0;
    text-align: center;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
    gap: 2rem;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 90%;
}

.card-image-wrapper {
    width: 100%;
    height: 200px;
    /* Fixed height for all images */
    overflow: hidden;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex-grow: 1;
}

.card-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 0.9rem;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 2rem;
    flex-grow: 1;
}

/* Card specific styling */
.card-1 .card-content {
    background-color: #e2f2ff;
}

.card-2 .card-content {
    background-color: #ffe6e6;
}

.card-3 .card-content {
    background-color: #ECFFE1;
    ;
}

.card-4 .card-content {
    background: #FDFACB;
}

@media (min-width: 640px) {

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.brand-section {
    max-width: 1930px;
    min-width: 1240px;
    /* min-height: 60vh; */
    margin: 0 auto;
    /* padding: 20px 40px; */
    display: flex;
}

.brand-content-wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.brand-content {
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.brand-content h1 {
    font-size: 3rem;
}

.brand-content h5 {
    font-size: 1.5rem;
}

.brand-content p {
    font-size: 1rem;
    /* letter-spacing: 2px; */
    word-spacing: 5px;
}

.brand-img {
    width: 50%;
    height: 80vh;
}

.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.solution-section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.section-header {
    text-align: center;
    margin-bottom: 3rem;
}

.section-header .main-heading {
    font-size: 2rem;
    font-weight: 800;
    color: #1a202c;
    margin-bottom: 0.5rem;
}

.section-header .sub-heading {
    font-size: 2rem;
    font-family: "Cormorant SC";
    font-weight: 600;
    color: #000000;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
    gap: 2rem;
}

.service-card {
    background-color: #ffffff;
    border: 1px solid #1A7ABD;
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
} */

.service-icon-wrapper {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.75rem;
    /* border: 1px solid #e2e8f0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.service-icon-wrapper img {
    width: 100%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1a202c;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1rem;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    /* Allows text to take up available space */
}

.learn-more-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #4299e1;
    /* Blue link color */
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;
}

.learn-more-link:hover {
    color: #3182ce;
    /* Darker blue on hover */
}

/* Responsive adjustments */
@media (min-width: 640px) {

    /* sm breakpoint */
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    /* lg breakpoint */
    .services-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


.industries-section {
    max-width: 1930px;
    min-width: 1240px;
    /* min-height: 100vh; */
    margin: 0 auto;
    background-image: url(/assets/imgaes/Frame\ 147.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
}

.indusstries-content-wrapper {
    width: 50%;
    display: flex;
    gap: 20px;
}

.industries-content {
    font-size: 2rem;
    font-family: "Cormorant SC";
}

.industries-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.industries-cards {
    width: 50%;
}

.grid-container {
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 1;
    /* display: none; */
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns on small screens */
    gap: 2.2rem;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.2rem 2.2rem 0.2rem 2.2rem;
    /* Leaf-like shape */
    width: 100%;
    max-width: 120px;
    height: 120px;
}

.icon-item img {
    width: 100px;
}

/* Card specific colors and icons */
.color-1 {
    background-color: #79d0dc;
}

.color-2 {
    background-color: #f7e68e;
}

.color-3 {
    background-color: #f29f79;
}

.color-4 {
    background-color: #f178b5;
}

.color-5 {
    background-color: #a48ef2;
}

.color-6 {
    background-color: #38b2ac;
}

.color-7 {
    background-color: #ef876f;
}

.color-8 {
    background-color: #83d3c6;
}

.color-9 {
    background-color: #f16d87;
}

.color-10 {
    background-color: #92b4f6;
}

.color-11 {
    background-color: #f9d375;
}

.color-12 {
    background-color: #f7a94d;
}

/* Responsive adjustments */
@media (min-width: 640px) {

    /* sm breakpoint */
    .icon-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {

    /* lg breakpoint */
    .icon-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.trans-section {
    background: linear-gradient(97.25deg, rgba(0, 184, 240, 0.5) 0.01%, rgba(161, 204, 217, 0.5) 99.99%);
    max-width: 1930px;
    min-width: 1240px;
    min-height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    position: relative;
}

.trans-content {
    z-index: 100;
}

.trans-content h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.trans-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.trans-left-top {
    position: absolute;
    z-index: 1;
    width: 300px;
    left: 40px;
}

.trans-right-bottom {
    position: absolute;
    z-index: 1;
    width: 250px;
    right: 40px;
    bottom: 0;
}


.technology-section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 4rem;
    text-align: center;
}

.section-header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #1a202c;
    margin-bottom: 0;
}

.section-header h2 span {
    color: #ef4444;
    /* Red highlight */
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on small screens */
    gap: 1rem;
    justify-items: first baseline;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.tech-item img {
    width: 200px;
    /* Sized for mobile */
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.tech-item:hover img {
    transform: scale(1.1);
    /* Slight grow on hover */
}

.tech-item p {
    font-size: 1rem;
    font-weight: 600;
    color: #4a5568;
    margin: 0;
}

/* Responsive adjustments */
@media (min-width: 640px) {

    /* sm breakpoint */
    .tech-grid {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns on medium screens */
    }

    .tech-item img {
        width: 100px;
        /* Larger size on medium screens */
    }
}

@media (min-width: 1024px) {

    /* lg breakpoint */
    .tech-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }

    .tech-item img {
        width: 120px;
        /* Larger size on large screens */
    }
}

.footer {
    width: 100%;
    height: auto;
    background: #081C15;
    color: #e2e8f0;
    position: relative;
    /* padding: 1rem 2rem; */
    /* overflow: hidden; */
}

.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imgaes/maps.png');
    /* Placeholder for map image */
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main-columns {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column on small screens */
    gap: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: auto;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: left;
}

.logo-section img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.follow {
    font-size: 0.8rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    margin-left: 0;
    padding-left: 0;
}

.follow img {
    width: 20px;
    height: 20px;
}

.tagline {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
    margin-left: 10px;
}

.footer-description {
    font-size: 0.9rem;
    color: #a0aec0;
    max-width: 400px;
    text-align: left;

}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-media a {
    color: #ffffff;
    font-size: 1.5rem;
}

.social-media a img {
    width: 30px;
    height: 30px;
    transition: color 0.2s ease;
    object-fit: contain;
}

.column h3 {
    font-size: 1rem;
    font-weight: 700;
    width: 200px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.column h3 img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.column p,
.column a {
    color: #a0aec0;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.column a:hover {
    color: #ffffff;
    transform: translateX(10px);
}



.address {
    /* margin: 0 auto; */
    max-width: 250px;
    line-height: 1.6;
    text-align: left;
}

.service-list,
.company-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    transition: transform 0.3s ease-in-out;
}

.service-list li a:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.copyright {
    color: #a0aec0;
    font-size: 0.875rem;
    padding-bottom: 20px;
}

/* Responsive adjustments */
@media (min-width: 768px) {

    /* md breakpoint */
    .main-columns {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        text-align: left;
    }

    .column {
        text-align: left;
        align-items: flex-start;
    }

    .logo-section {
        align-items: flex-start;
    }

    .description {
        margin: 0;
    }

    .social-media {
        justify-content: flex-start;
    }

    .column h3 {
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) {

    /* lg breakpoint */
    .footer {
        padding: 2rem 4rem 0rem;
    }

    .main-columns {
        gap: 4rem;
    }
}

.testimonial {
    font-family: 'Segoe UI', sans-serif;
    padding: 40px;
    background-color: #fff;

}

.testimonial h1,
p {
    text-align: center;
    padding: 10px;
    font-size: 2.5rem;
}

.testimonial p {
    margin-bottom: 20px;
    font-family: "Cormorant SC";
    font-style: italic;
    font-size: 2rem;
}

.testimonial-section {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.nav-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto 50px;
}

.dot {
    width: 6px;
    height: 20px;
    border-radius: 10px;
    background: #3DFEFF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background: #33D3D4;
    width: 6px;
    height: 70px;
    cursor: pointer;
}

.testimonial-slider {
    overflow: hidden;
    width: 100%;
}

.testimonial-cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card-wrapper {
    display: flex;
    gap: 20px;
    min-width: 100%;
}

.testimonial-card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 25px 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.testimonial-card .person-name {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

.location {
    font-size: 1rem;
    color: #000;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: left;
}

.location::before {
    content: url("/assets/icons/Group (1).png");
    margin-bottom: 10px;
    margin-right: 25px;
    width: 10px;
    height: 10px;
}


.testimonial-card p {
    font-size: 1rem;
    color: #444;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
    position: relative;

}

.testimonial-card p::before {
    content: "“";
    font-size: 2rem;
    position: absolute;
    left: -15px;
    top: 5px;
    color: #222;
}

.testimonial-card p::after {
    content: "”";
    position: absolute;
    bottom: -10%;
    font-size: 2rem;
    color: #222;
}

@media (max-width: 768px) {
    .card-wrapper {
        flex-direction: column;
    }

    .testimonial-card {
        min-width: 100%;
    }

    .testimonial-section {
        flex-direction: column;
        align-items: center;
    }

    .nav-line {
        flex-direction: row;
        margin-bottom: 20px;
    }

    .dot {
        height: 6px;
        width: 40px;
    }

    .dot.active {
        height: 8px;
    }
}